*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#main{
    background-color: #041C2F;
}

#header{
    position: sticky;
    top: 0;
    background-color: #09506D;
}
#nav{
    display: flex;
    padding: 15px;
    justify-content: space-between;
    align-items: flex-end;
}
.Nome a{
    text-decoration: none;
    list-style: none;
    color: #8DDAD8;
    font-size: 25px;
}
.botton{
    display: flex;
    list-style: none;
    gap: 25px;
}
.botton a{
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    color: #8DDAD8;
}
/*  */
/*  */
/*  */
#Sobre{
    min-height: 60vh;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.SobreMim{
    display: flex;
    align-items: center;
}
.Foto-Ramon img{
    border: 4px solid #299FB1;
    border-radius: 20%;
    width: 500px;
    height: 500px;
    padding: 3px;
    margin-top: 25px;
    margin-bottom: 25px;
    
}
.Texto-SobreMim p{
    margin-left: 50px;
    font-size: 35px;
    color: #BFE0E1;
}
/*  */
/*  */
/*  */
#Experiência{
    min-height: 40vh;
    padding: 15px;
}
.Texto-Experiência h2{
    font-size: 55px;
    color: #299FB1;
}
.Texto-Experiência p{
    font-size: 35px;
    color: #BFE0E1;
}
.HtmlCss-Icon{
    display: flex;
    justify-content: center;

}
.HtmlCss-Icon ul{
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 777px;
    margin-top: 35px;
}
/*  */
/*  */
/*  */
#footer{
    background-color: #041C2F;
    min-height: 30vh;
}
#Contato{
    padding: 15px;
}
.title-Contato h2{
    font-size: 55px;
    color: #299FB1;
}
.botton-Contato{
    display: flex;
    justify-content: center;
}
.botton-Contato ul{
    display: flex;
    justify-content: center;
    gap: 777px;
    list-style: none;
    text-decoration: none;
    margin-top: 55px;
}
.WhtsApp{
    display: flex;
    justify-content: center;
    align-items: center ;
}
.WhtsApp ul{
    display: flex;
    list-style: none;
    text-decoration: none;

}
.WhtsApp p{
    display: flex;
    padding-top: 5px;
    padding-left: 1px;
    color: #E5E7EB;
}
